In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\artoe\Documents\DataAnalytics\Data Immersion\Exercises\Achievement 6\data'

In [3]:
df_listings = pd.read_csv(os.path.join(path,'listings_details_checked_again.csv'), index_col=False)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\3392172688.py:1: DtypeWarning: Columns (63) have mixed types. Specify dtype option on import or set low_memory=False.
  df_listings = pd.read_csv(os.path.join(path,'listings_details_checked_again.csv'), index_col=False)

In [4]:
df_listings.columns

Index(['Unnamed: 0', 'id', 'listing_url', 'name', 'summary', 'space',
       'description', 'experiences_offered', 'neighbourhood_overview', 'notes',
       'transit', 'access', 'interaction', 'house_rules', 'picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_is_superhost', 'host_neighbourhood', 'host_identity_verified',
       'street', 'neighbourhood', 'city', 'state', 'zipcode', 'country',
       'latitude', 'longitude', 'is_location_exact', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'guests_included', 'minimum_nights', 'maximum_nights',
       'has_availability', 'availability_365', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [5]:
df_listings['availability_365'].value_counts()

availability_365
0      9344
5       245
3       244
4       241
7       239
       ...
194       3
191       3
202       3
217       3
208       3
Name: count, Length: 366, dtype: int64

In [6]:
df_calendar = pd.read_csv(os.path.join(path, 'calendar_checked.csv'),index_col=False)

In [7]:
df_calendar.columns

Index(['Unnamed: 0', 'listing_id', 'date', 'available', 'price'], dtype='object')

In [8]:
df_calendar.drop(columns='Unnamed: 0', inplace=True)

In [9]:
df_calendar.rename(columns={'listing_id':'id'}, inplace=True)
df_calendar.rename(columns={'price':'daily_price'}, inplace=True)

In [10]:
df_listings['city'].value_counts()

city
Amsterdam                  19980
Badhoevedorp                   9
Diemen                         8
Amstelveen                     7
Watergraafsmeer                6
Duivendrecht                   6
Halfweg                        3
Amsterdam (Zunderdorp)         3
Zeeburg                        2
Haarlem                        1
Lijnden                        1
Weesp                          1
Buitenveldert                  1
Ouderkerk aan de Amstel        1
Zaandam                        1
Name: count, dtype: int64

In [11]:
#check state info for cities outside A'dam proper
df_listings[['city','state']].loc[df_listings['city'] != 'Amsterdam'].value_counts()

city                     state
Badhoevedorp             Noord-Holland    9
Diemen                   Noord-Holland    8
Amstelveen               Noord-Holland    7
Duivendrecht             Noord-Holland    6
Watergraafsmeer          Noord-Holland    6
Amsterdam (Zunderdorp)   Noord-Holland    3
Halfweg                  Noord-Holland    3
Zeeburg                  Noord-Holland    2
Buitenveldert            Noord-Holland    1
Haarlem                  Noord-Holland    1
Lijnden                  Noord-Holland    1
Ouderkerk aan de Amstel  Noord-Holland    1
Weesp                    Noord-Holland    1
Zaandam                  Noord-Holland    1
Name: count, dtype: int64

In [12]:
df_listings[['neighbourhood','city']].loc[df_listings['city'] != 'Amsterdam'].value_counts()

neighbourhood                           city
De Aker - Nieuw Sloten                  Badhoevedorp               9
Buitenveldert - Zuidas                  Amstelveen                 7
Watergraafsmeer                         Duivendrecht               6
                                        Diemen                     5
Oud-Oost                                Watergraafsmeer            4
Noord-Oost                              Amsterdam (Zunderdorp)     3
Watergraafsmeer                         Watergraafsmeer            2
Geuzenveld - Slotermeer                 Halfweg                    2
IJburg - Zeeburgereiland                Diemen                     2
Oostelijk Havengebied - Indische Buurt  Zeeburg                    2
Bijlmer-Centrum                         Diemen                     1
Watergraafsmeer                         Ouderkerk aan de Amstel    1
Noord-West                              Zaandam                    1
Osdorp                                  Halfweg                    1
De Baarsjes - Oud-West                  Weesp                      1
De Aker - Nieuw Sloten                  Lijnden                    1
Buitenveldert - Zuidas                  Buitenveldert              1
Zuid                                    Haarlem                    1
Name: count, dtype: int64

In [13]:
df_listings['city'].replace('Watergraafsmeer', 'Amsterdam', inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\3630423289.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['city'].replace('Watergraafsmeer', 'Amsterdam', inplace=True)

In [14]:
df_listings['city'].replace('Zeeburg', 'Amsterdam', inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\960319174.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['city'].replace('Zeeburg', 'Amsterdam', inplace=True)

In [15]:
df_listings['city'].replace('Buitenveldert', 'Amsterdam', inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\1126891162.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['city'].replace('Buitenveldert', 'Amsterdam', inplace=True)

In [16]:
#look at mismatched neighbourhood-city listings
df_listings[['name','description','street','latitude','longitude','host_location']].loc[df_listings['city'] == 'Ouderkerk aan de Amstel']

,name,description,street,latitude,longitude,host_location
19469,summer nights.. Nice place for the kids to,Upstairs has 2 very comfortable bedrooms. The ...,"Ouderkerk aan de Amstel, Noord-Holland, Nether...",52.317404,4.911694,"Seoul, Seoul, South Korea"

In [17]:
df_listings['street'].replace('Ouderkerk aan de Amstel', np.nan, inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\2316538349.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['street'].replace('Ouderkerk aan de Amstel', np.nan, inplace=True)

In [18]:
df_listings[['name','neighbourhood','street','latitude','longitude','host_location']].loc[df_listings['city'] == 'Weesp']

,name,neighbourhood,street,latitude,longitude,host_location
17393,2 bedrooms apt - 5 min by foot to the Vondel p...,De Baarsjes - Oud-West,"Weesp, Noord-Holland, Netherlands",52.363373,4.867638,NL

In [19]:
#this one is, in fact, located in De Baarsjes - Oud West, Amsterdam. 
df_listings['city'].replace('Weesp','Amsterdam', inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\3360460422.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['city'].replace('Weesp','Amsterdam', inplace=True)

In [20]:
df_listings.loc[df_listings['street'] == 'Weesp, Noord-Holland, Netherlands']

,Unnamed: 0,id,listing_url,name,summary,space,description,experiences_offered,neighbourhood_overview,notes,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,require_guest_profile_picture,require_guest_phone_verification,host_listings_count,reviews_per_month
17393,17393,26284593,https://www.airbnb.com/rooms/26284593,2 bedrooms apt - 5 min by foot to the Vondel p...,This apartment is located 5 minutes walk from ...,NaN,This apartment is located 5 minutes walk from ...,none,NaN,"Smoking is allowed only in the living room, wi...",...,8.0,False,NaN,NaN,False,False,False,False,5,0.22

In [21]:
df_listings['street'].replace('Weesp, Noord-Holland, Netherlands', np.nan, inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\2540839854.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['street'].replace('Weesp, Noord-Holland, Netherlands', np.nan, inplace=True)

In [22]:
df_listings[['name','neighbourhood','street','latitude','longitude','host_location']].loc[df_listings['city'] == 'Haarlem']

,name,neighbourhood,street,latitude,longitude,host_location
5359,Een mooi appartement aan het water,Zuid,"Haarlem, Noord-Holland, Netherlands",52.35501,4.852106,"Haarlem, North Holland, Netherlands"

In [23]:
#Haarlem is the host location, but the listing is located in Amsterdam-Zuid. city value can be replaced w Amsterdam, street with NaN
df_listings['city'].replace('Haarlem','Amsterdam', inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\3829634676.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['city'].replace('Haarlem','Amsterdam', inplace=True)

In [24]:
df_listings['street'].replace('Haarlem, Noord-Holland, Netherlands', np.nan, inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\2649265349.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings['street'].replace('Haarlem, Noord-Holland, Netherlands', np.nan, inplace=True)

In [25]:
df_listings_sub = df_listings[['id','name','street','neighbourhood','city','latitude','longitude','room_type','square_feet','availability_365','host_listings_count','review_scores_rating','review_scores_location','review_scores_value','review_scores_cleanliness']]

In [26]:
df_listings_sub['room_type'].value_counts()

room_type
Entire home/apt    15889
Private room        4076
Shared room           65
Name: count, dtype: int64

In [27]:
df_listings_sub.isnull().sum()

id                               0
name                            38
street                           2
neighbourhood                    0
city                             0
latitude                         0
longitude                        0
room_type                        0
square_feet                  19624
availability_365                 0
host_listings_count              0
review_scores_rating          2639
review_scores_location        2660
review_scores_value           2659
review_scores_cleanliness     2647
dtype: int64

In [28]:
#create flag columns for room type
df_listings_sub.loc[df_listings_sub['room_type'] == 'Entire home/apt', 'entire_home'] = True
df_listings_sub.loc[df_listings_sub['room_type'] != 'Entire home/apt', 'entire_home'] = False

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\2347820468.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listings_sub.loc[df_listings_sub['room_type'] == 'Entire home/apt', 'entire_home'] = True

In [29]:
df_listings_sub.loc[df_listings_sub['room_type'] == 'Private room', 'private_room'] = True
df_listings_sub.loc[df_listings_sub['room_type'] != 'Private room', 'private_room'] = False

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\2284150093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listings_sub.loc[df_listings_sub['room_type'] == 'Private room', 'private_room'] = True

In [30]:
df_listings_sub.loc[df_listings_sub['room_type'] == 'Shared room', 'shared_room'] = True
df_listings_sub.loc[df_listings_sub['room_type'] != 'Shared_room', 'shared_room'] = False

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\1371559939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listings_sub.loc[df_listings_sub['room_type'] == 'Shared room', 'shared_room'] = True

In [31]:
#create distance from city center column using Haversine formula, using Dam Square as center point.
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371  
    return c * r

In [32]:
lon1 = df_listings_sub["longitude"].iloc[0]
lat1 = df_listings_sub["latitude"].iloc[0]
lon2 = 4.892351
lat2 = 52.373100

df_listings_sub['distance_from_center'] = haversine(df_listings_sub['latitude'].shift(), df_listings_sub['longitude'].shift(), 52.373100, 4.892351)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\208546140.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listings_sub['distance_from_center'] = haversine(df_listings_sub['latitude'].shift(), df_listings_sub['longitude'].shift(), 52.373100, 4.892351)

In [33]:
df_listings_sub.isnull().sum()

id                               0
name                            38
street                           2
neighbourhood                    0
city                             0
latitude                         0
longitude                        0
room_type                        0
square_feet                  19624
availability_365                 0
host_listings_count              0
review_scores_rating          2639
review_scores_location        2660
review_scores_value           2659
review_scores_cleanliness     2647
entire_home                      0
private_room                     0
shared_room                      0
distance_from_center             1
dtype: int64

In [34]:
df_listings_sub.loc[df_listings_sub['distance_from_center'].isnull()]

,id,name,street,neighbourhood,city,latitude,longitude,room_type,square_feet,availability_365,host_listings_count,review_scores_rating,review_scores_location,review_scores_value,review_scores_cleanliness,entire_home,private_room,shared_room,distance_from_center
0,2818,Quiet Garden View Room & Super Fast WiFi,"Amsterdam, North Holland, Netherlands",Oostelijk Havengebied - Indische Buurt,Amsterdam,52.365755,4.941419,Private room,NaN,44,1,97.0,9.0,10.0,10.0,False,True,False,NaN

In [35]:
df_listings_sub['distance_from_center'].fillna(haversine(52.365754513876176, 4.941419235184398, 52.373100, 4.892351), inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\241117176.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_listings_sub['distance_from_center'].fillna(haversine(52.365754513876176, 4.941419235184398, 52.373100, 4.892351), inplace=True)
C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\241117176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listings_sub['distance_from_center'].fillna(haversine(52.365754513876176, 4.941419235184398, 52.373100, 4.892351), inplace=True)

In [36]:
#check for dups
df_listings_sub.duplicated().sum()

0

In [37]:
df_listings_sub.shape

(20030, 19)

In [38]:
#aggregating by month, adding a monthly avg price column
df_calendar.loc[df_calendar['date'].str.contains("2018-12"), ['month']] = "12-2018"

In [39]:
df_calendar.loc[df_calendar['date'].str.contains("2019-01"), ['month']] = "01-2019"

In [40]:
df_calendar.loc[df_calendar['date'].str.contains("2019-02"), ['month']] = "02-2019"

In [41]:
df_calendar.loc[df_calendar['date'].str.contains("2019-03"), ['month']] = "03-2019"

In [42]:
df_calendar.loc[df_calendar['date'].str.contains("2019-04"), ['month']] = "04-2019"

In [43]:
df_calendar.loc[df_calendar['date'].str.contains("2019-05"), ['month']] = "05-2019"

In [44]:
df_calendar.loc[df_calendar['date'].str.contains("2019-06"), ['month']] = "06-2019"

In [45]:
df_calendar.loc[df_calendar['date'].str.contains("2019-07"), ['month']] = "07-2019"

In [46]:
df_calendar.loc[df_calendar['date'].str.contains("2019-08"), ['month']] = "08-2019"

In [47]:
df_calendar.loc[df_calendar['date'].str.contains("2019-09"), ['month']] = "09-2019"

In [48]:
df_calendar.loc[df_calendar['date'].str.contains("2019-10"), ['month']] = "10-2019"

In [49]:
df_calendar.loc[df_calendar['date'].str.contains("2019-10"), ['month']] = "10-2019"

In [50]:
df_calendar.loc[df_calendar['date'].str.contains("2019-11"), ['month']] = "11-2019"

In [51]:
df_calendar.loc[df_calendar['date'].str.contains("2019-12"), ['month']] = "12-2019"

In [52]:
df_calendar['month'].value_counts()

month
08-2019    620930
07-2019    620930
05-2019    620930
10-2019    620930
03-2019    620930
01-2019    620930
06-2019    600900
11-2019    600900
04-2019    600900
09-2019    600900
02-2019    560840
12-2018    519933
12-2019    100997
Name: count, dtype: int64

In [53]:
df_calendar.dtypes

id               int64
date            object
available         bool
daily_price    float64
month           object
dtype: object

In [54]:
df_calendar['avg_monthly_price'] = df_calendar.groupby(['id','month'])['daily_price'].transform(np.mean)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\1424850501.py:1: FutureWarning: The provided callable <function mean at 0x0000026C85F88EA0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_calendar['avg_monthly_price'] = df_calendar.groupby(['id','month'])['daily_price'].transform(np.mean)

In [55]:
#average listing price in year
df_calendar['listing_avg_price_year'] = df_calendar.groupby('id')['daily_price'].transform('mean')

In [56]:
#average availability in month
df_calendar['days_available_month'] = df_calendar.groupby(['id','month'])['available'].transform('sum')

In [57]:
df_calendar['days_in_month'] = df_calendar.groupby(['id','month'])['date'].transform('count')

In [58]:
df_calendar['availability_rate_month'] = (df_calendar['days_available_month']/df_calendar['days_in_month'])*100

In [59]:
df_calendar.drop(columns=['days_in_month', 'days_available_month'], inplace=True)

In [60]:
df_listings_daily = df_calendar.merge(df_listings_sub, on='id', indicator=True)

In [61]:
df_listings_daily.shape

(7310950, 27)

In [62]:
df_listings_daily.dtypes

id                              int64
date                           object
available                        bool
daily_price                   float64
month                          object
avg_monthly_price             float64
listing_avg_price_year        float64
availability_rate_month       float64
name                           object
street                         object
neighbourhood                  object
city                           object
latitude                      float64
longitude                     float64
room_type                      object
square_feet                   float64
availability_365                int64
host_listings_count             int64
review_scores_rating          float64
review_scores_location        float64
review_scores_value           float64
review_scores_cleanliness     float64
entire_home                    object
private_room                   object
shared_room                    object
distance_from_center          float64
_merge                       category
dtype: object

In [63]:
df_listings_daily.drop(columns='_merge', inplace=True)

In [64]:
df_listings_daily.to_pickle(os.path.join(path,'listings_calendar_details.pkl'))

In [65]:
df_listings_daily.columns

Index(['id', 'date', 'available', 'daily_price', 'month', 'avg_monthly_price',
       'listing_avg_price_year', 'availability_rate_month', 'name', 'street',
       'neighbourhood', 'city', 'latitude', 'longitude', 'room_type',
       'square_feet', 'availability_365', 'host_listings_count',
       'review_scores_rating', 'review_scores_location', 'review_scores_value',
       'review_scores_cleanliness', 'entire_home', 'private_room',
       'shared_room', 'distance_from_center'],
      dtype='object')

In [66]:
df_listings_daily.drop(columns=['daily_price','date','available'], inplace=True)

In [67]:
df_listings_daily.rename(columns={'availablility_rate_month':'availability_rate_month'},inplace=True)

In [68]:
df_listings_daily.duplicated().sum()

7050560

In [69]:
df_listings_monthly = df_listings_daily.drop_duplicates()

In [70]:
df_listings_monthly.shape

(260390, 23)

In [71]:
df_listings_monthly.duplicated().sum()

0

In [72]:
df_listings_monthly.columns

Index(['id', 'month', 'avg_monthly_price', 'listing_avg_price_year',
       'availability_rate_month', 'name', 'street', 'neighbourhood', 'city',
       'latitude', 'longitude', 'room_type', 'square_feet', 'availability_365',
       'host_listings_count', 'review_scores_rating', 'review_scores_location',
       'review_scores_value', 'review_scores_cleanliness', 'entire_home',
       'private_room', 'shared_room', 'distance_from_center'],
      dtype='object')

In [73]:
df_listings_monthly.isnull().sum()

id                                0
month                             0
avg_monthly_price            202067
listing_avg_price_year       121472
availability_rate_month           0
name                            494
street                           26
neighbourhood                     0
city                              0
latitude                          0
longitude                         0
room_type                         0
square_feet                  255112
availability_365                  0
host_listings_count               0
review_scores_rating          34307
review_scores_location        34580
review_scores_value           34567
review_scores_cleanliness     34411
entire_home                       0
private_room                      0
shared_room                       0
distance_from_center              0
dtype: int64

In [74]:
df_listings_monthly.isnull().sum()

id                                0
month                             0
avg_monthly_price            202067
listing_avg_price_year       121472
availability_rate_month           0
name                            494
street                           26
neighbourhood                     0
city                              0
latitude                          0
longitude                         0
room_type                         0
square_feet                  255112
availability_365                  0
host_listings_count               0
review_scores_rating          34307
review_scores_location        34580
review_scores_value           34567
review_scores_cleanliness     34411
entire_home                       0
private_room                      0
shared_room                       0
distance_from_center              0
dtype: int64

In [75]:
df_listings_monthly.to_csv(os.path.join(path,'listings_details_monthly.csv'))

In [149]:
df_listings_monthly.shape

(260390, 23)

In [153]:
df_listings_monthly.describe().T

,count,mean,std,min,25%,50%,75%,max
id,260390.0,1.541725e+07,8.569206e+06,2818.000000,8.187901e+06,1.563049e+07,2.202612e+07,3.058041e+07
avg_monthly_price,58323.0,1.979995e+02,2.470827e+02,21.000000,1.066667e+02,1.500000e+02,2.254741e+02,8.500000e+03
listing_avg_price_year,138918.0,1.795942e+02,1.806703e+02,21.431818,1.063333e+02,1.485069e+02,2.055254e+02,8.500000e+03
availability_rate_month,260390.0,1.639209e+01,3.465961e+01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+02
latitude,260390.0,5.236521e+01,1.599562e-02,52.288378,5.235513e+01,5.236459e+01,5.237507e+01,5.242471e+01
longitude,260390.0,4.888977e+00,3.557261e-02,4.753247,4.863594e+00,4.886387e+00,4.908291e+00,5.027689e+00
square_feet,5278.0,5.204852e+02,5.439381e+02,0.000000,0.000000e+00,4.840000e+02,8.070000e+02,4.306000e+03
availability_365,260390.0,5.991368e+01,1.040253e+02,0.000000,0.000000e+00,3.000000e+00,6.700000e+01,3.650000e+02
host_listings_count,260390.0,4.734698e+00,2.292136e+01,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,2.080000e+02
review_scores_rating,226083.0,9.484952e+01,6.648509e+00,20.000000,9.300000e+01,9.700000e+01,1.000000e+02,1.000000e+02
review_scores_location,225810.0,9.421531e+00,7.279117e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_value,225823.0,9.175004e+00,8.054002e-01,2.000000,9.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01
review_scores_cleanliness,225979.0,9.465627e+00,8.679503e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
distance_from_center,260390.0,2.679424e+00,1.624697e+00,0.022259,1.645006e+00,2.427630e+00,3.271255e+00,1.142131e+01

In [155]:
df_listings_monthly.drop(columns=['month','avg_monthly_price','availability_rate_month'], inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_16080\3764346888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_listings_monthly.drop(columns=['month','avg_monthly_price','availability_rate_month'], inplace=True)

In [157]:
df_listings_avg = df_listings_monthly.drop_duplicates()

In [78]:
df_listings_avg.to_csv(os.path.join(path, 'listings_final.csv'))

In [159]:
df_listings_avg.describe().T

,count,mean,std,min,25%,50%,75%,max
id,20030.0,1.541725e+07,8.569404e+06,2818.000000,8.188423e+06,1.563049e+07,2.202577e+07,3.058041e+07
listing_avg_price_year,10686.0,1.795942e+02,1.806781e+02,21.431818,1.063448e+02,1.485069e+02,2.055202e+02,8.500000e+03
latitude,20030.0,5.236521e+01,1.599599e-02,52.288378,5.235513e+01,5.236459e+01,5.237507e+01,5.242471e+01
longitude,20030.0,4.888977e+00,3.557343e-02,4.753247,4.863595e+00,4.886387e+00,4.908288e+00,5.027689e+00
square_feet,406.0,5.204852e+02,5.445577e+02,0.000000,0.000000e+00,4.840000e+02,8.070000e+02,4.306000e+03
availability_365,20030.0,5.991368e+01,1.040277e+02,0.000000,0.000000e+00,3.000000e+00,6.700000e+01,3.650000e+02
host_listings_count,20030.0,4.734698e+00,2.292189e+01,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,2.080000e+02
review_scores_rating,17391.0,9.484952e+01,6.648685e+00,20.000000,9.300000e+01,9.700000e+01,1.000000e+02,1.000000e+02
review_scores_location,17370.0,9.421531e+00,7.279310e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_value,17371.0,9.175004e+00,8.054216e-01,2.000000,9.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01
review_scores_cleanliness,17383.0,9.465627e+00,8.679734e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
distance_from_center,20030.0,2.679424e+00,1.624734e+00,0.022259,1.645235e+00,2.427630e+00,3.271240e+00,1.142131e+01