In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\artoe\Documents\DataAnalytics\Data Immersion\Exercises\Achievement 6\data'

## Listings

In [4]:
df_listings = pd.read_csv(os.path.join(path, 'listings.csv'), index_col = False)

In [5]:
df_listings.shape

(20030, 16)

In [6]:
df_listings.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group               float64
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [7]:
df_listings.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44
1,3209,"Quiet apt near center, great view",3806,Maartje,NaN,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,NaN,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,NaN,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199

In [8]:
df_listings.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.003000e+04,2.003000e+04,0.0,20030.000000,20030.000000,20030.000000,20030.000000,20030.000000,17624.00000,20030.000000,20030.000000
mean,1.541725e+07,4.868570e+07,NaN,52.365212,4.888977,152.181178,3.328707,21.560459,1.06208,4.734698,59.913679
std,8.569404e+06,5.649635e+07,NaN,0.015996,0.035573,145.828976,12.537419,43.240292,1.33332,22.921886,104.027710
min,2.818000e+03,3.159000e+03,NaN,52.288378,4.753247,0.000000,1.000000,0.000000,0.01000,1.000000,0.000000
25%,8.188423e+06,8.093516e+06,NaN,52.355126,4.863595,96.000000,2.000000,3.000000,0.27000,1.000000,0.000000
50%,1.563049e+07,2.369450e+07,NaN,52.364590,4.886387,125.000000,2.000000,8.000000,0.62000,1.000000,3.000000
75%,2.202577e+07,6.827535e+07,NaN,52.375074,4.908288,175.000000,3.000000,22.000000,1.23000,1.000000,67.000000
max,3.058041e+07,2.293612e+08,NaN,52.424713,5.027689,8500.000000,1001.000000,695.000000,11.85000,208.000000,365.000000

### Addressing null values

In [10]:
df_listings.isnull().sum()

id                                    0
name                                 38
host_id                               0
host_name                             4
neighbourhood_group               20030
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        2406
reviews_per_month                  2406
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [11]:
#neighbourhood_group column appears to be completely empty, therefore, can be dropped.

In [12]:
df_listings.drop(columns=['neighbourhood_group'], inplace=True)

In [13]:
df_listings.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

#### Addressing the null values in reviews_per_month

In [15]:
df_reviews_nan = df_listings[df_listings['reviews_per_month'].isnull() == True]

In [16]:
df_reviews_nan.isnull().sum()
#rows with null values for reviews_per_month also have nulls for last_review

id                                   0
name                                11
host_id                              0
host_name                            1
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2406
reviews_per_month                 2406
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [17]:
df_reviews_nan.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
37,62801,Very nice appartment ALL of januari,306117,Jan,Bos en Lommer,52.384587,4.854627,Entire home/apt,750,30,0,NaN,NaN,1,364
229,432610,Big apartment with great sunshine!,1725242,Tolga,De Pijp - Rivierenbuurt,52.347757,4.906169,Entire home/apt,99,1,0,NaN,NaN,3,98
279,517092,4 bedroom apartment near the park,2041793,Bas,De Baarsjes - Oud-West,52.361380,4.855451,Entire home/apt,135,6,0,NaN,NaN,1,0
368,626872,Beautiful Apartment Amsterdam,3111814,Daniel,Westerpark,52.376252,4.875192,Entire home/apt,150,6,0,NaN,NaN,1,0
415,665250,Artists house with two gardens.,3361425,Marcus,De Pijp - Rivierenbuurt,52.351075,4.898818,Entire home/apt,139,14,0,NaN,NaN,1,0

In [18]:
df_reviews_nan.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.406000e+03,2.406000e+03,2406.000000,2406.000000,2406.000000,2406.000000,2406.000000,0.0,2406.000000,2406.000000
mean,2.100760e+07,6.852167e+07,52.364123,4.889683,177.886534,4.469659,0.014963,NaN,7.620532,64.634663
std,8.634190e+06,7.086501e+07,0.016918,0.037811,192.936388,13.306108,0.279189,NaN,28.004637,114.305656
min,6.280100e+04,5.614200e+04,52.288378,4.753247,14.000000,1.000000,0.000000,NaN,1.000000,0.000000
25%,1.368154e+07,1.275931e+07,52.353541,4.862134,97.250000,2.000000,0.000000,NaN,1.000000,0.000000
50%,2.219559e+07,4.148584e+07,52.363259,4.887475,139.000000,2.000000,0.000000,NaN,1.000000,0.000000
75%,2.949292e+07,1.041608e+08,52.374655,4.909148,200.000000,4.000000,0.000000,NaN,2.000000,65.000000
max,3.058041e+07,2.293612e+08,52.423242,5.012549,5000.000000,365.000000,12.000000,NaN,208.000000,365.000000

In [19]:
#there are listings with maximum 12 reviews that are null in reviews_per_month. 
df_reviews_missing = df_reviews_nan[df_reviews_nan['number_of_reviews'] > 0]

In [20]:
df_reviews_missing.shape

(18, 15)

In [21]:
df_reviews_missing.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,1.800000e+01,1.800000e+01,18.000000,18.000000,18.000000,18.000000,18.000000,0.0,18.000000,18.000000
mean,2.707652e+07,7.861742e+07,52.366289,4.888964,142.444444,3.222222,2.000000,NaN,1.111111,44.555556
std,5.639293e+06,7.858370e+07,0.014124,0.049474,68.319511,3.135294,2.612189,NaN,0.323381,87.281305
min,1.252411e+07,4.155386e+06,52.346433,4.798775,45.000000,1.000000,1.000000,NaN,1.000000,0.000000
25%,2.564564e+07,1.402916e+07,52.353416,4.852599,102.500000,2.000000,1.000000,NaN,1.000000,4.750000
50%,3.000833e+07,4.072008e+07,52.366069,4.888882,135.000000,2.000000,1.000000,NaN,1.000000,16.500000
75%,3.029351e+07,1.629136e+08,52.376841,4.919793,168.750000,3.000000,1.750000,NaN,1.000000,25.750000
max,3.045843e+07,2.097913e+08,52.395584,5.011350,300.000000,15.000000,12.000000,NaN,2.000000,291.000000

In [22]:
df_reviews_missing['number_of_reviews'].value_counts()

number_of_reviews
1     13
3      3
12     1
2      1
Name: count, dtype: int64

out of the 18 rows with null values for last_review and reviews_per_month and values over 0 for number_of_reviews, 13 of them had 1 review, 3 had 3 reviews, one had 12 and one had 2.

since we do not know the reason for these null values, nor do we know the best way to address them, we can create a flag column to later identify them

In [25]:
df_listings.loc[(df_listings['number_of_reviews'] > 0) & (df_listings['last_review'].isnull()) & (df_listings['reviews_per_month'].isnull()), 'reviews_nulls'] = 'check_reviews'

In [26]:
df_listings.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_nulls
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,Oostelijk Havengebied - Indische Buurt,52.365755,4.941419,Private room,59,3,248,2018-11-28,2.10,1,44,NaN
1,3209,"Quiet apt near center, great view",3806,Maartje,Westerpark,52.390225,4.873924,Entire home/apt,160,4,42,2018-08-29,1.03,1,47,NaN
2,20168,100%Centre-Studio 1 Private Floor/Bathroom,59484,Alex,Centrum-Oost,52.365087,4.893541,Entire home/apt,80,1,233,2018-11-30,2.18,2,198,NaN
3,25428,Lovely apt in City Centre (Jordaan),56142,Joan,Centrum-West,52.373114,4.883668,Entire home/apt,125,14,1,2018-01-21,0.09,2,141,NaN
4,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,Centrum-West,52.386727,4.892078,Private room,150,2,171,2018-11-25,2.03,1,199,NaN

#### Addressing missing name and host name values

In [28]:
df_noname = df_listings[df_listings['name'].isnull() == True]

In [29]:
df_noname.shape

(38, 16)

In [30]:
df_noname.isnull().sum()

id                                 0
name                              38
host_id                            0
host_name                          0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                       11
reviews_per_month                 11
calculated_host_listings_count     0
availability_365                   0
reviews_nulls                     38
dtype: int64

In [31]:
df_noname.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_nulls
2378,3771282,NaN,10529642,R,De Pijp - Rivierenbuurt,52.354920,4.896281,Entire home/apt,214,6,7,2018-08-16,0.16,1,0,NaN
2892,4683947,NaN,24220387,Tessa,Zuid,52.347288,4.856014,Entire home/apt,100,1,1,2015-01-02,0.02,1,0,NaN
3415,5763318,NaN,19035647,Maarten,De Baarsjes - Oud-West,52.359968,4.858911,Private room,50,2,2,2016-10-26,0.05,1,0,NaN
4105,6795287,NaN,35354864,Kim,Centrum-West,52.380624,4.885614,Entire home/apt,107,3,1,2015-07-07,0.02,1,0,NaN
4180,6893255,NaN,4223835,Tosca,De Baarsjes - Oud-West,52.367049,4.855081,Entire home/apt,100,3,16,2017-06-05,0.38,1,0,NaN

In [32]:
df_no_hostname = df_listings[df_listings['host_name'].isnull() == True]

In [33]:
#check for other nulls

In [34]:
df_no_hostname.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         4
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       1
reviews_per_month                 1
calculated_host_listings_count    0
availability_365                  0
reviews_nulls                     4
dtype: int64

### Check for mixed data types

In [36]:
for col in df_listings.columns.tolist():
  weird = (df_listings[[col]].map(type) != df_listings[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_listings[weird]) > 0:
    print (col)

name
host_name
last_review
reviews_nulls

In [37]:
#we can ignore the mixed types in reviews_nulls, as this is the flag column we just created.

In [38]:
#convert name and host_name to string
df_listings['name'] = df_listings['name'].astype('str')

In [39]:
df_listings['host_name'] = df_listings['host_name'].astype('str')

### Check for duplicates

In [41]:
#check first for full duplicate rows
df_dups = df_listings[df_listings.duplicated()]

In [42]:
df_dups

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365, reviews_nulls]
Index: []

In [43]:
#no full duplicate rows

### Address outliers

In [45]:
#minimum_nights
df_listings.loc[df_listings['minimum_nights']>3].sort_values('minimum_nights',ascending=False)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_nulls
12245,18816109,Nice room,21681343,Raffaele,De Pijp - Rivierenbuurt,52.352252,4.899190,Private room,130,1001,24,2018-11-25,1.62,2,89,NaN
2183,3445095,Beautiful bright app Amsterdam/w room for child,2826599,Justin And Laura,De Baarsjes - Oud-West,52.363751,4.850904,Entire home/apt,120,999,4,2016-09-12,0.08,1,365,NaN
2932,4761059,Small cosy studio@ Vondelpark,17299639,Wesley,Zuid,52.352056,4.855118,Private room,150,365,0,NaN,NaN,2,364,NaN
3668,6149173,Longstay room with a view,31379572,Rudy,Oostelijk Havengebied - Indische Buurt,52.376782,4.944672,Entire home/apt,100,365,0,NaN,NaN,1,365,NaN
18721,28651212,No available,216187616,David,De Baarsjes - Oud-West,52.367939,4.866657,Entire home/apt,3000,365,10,2018-11-06,4.76,1,64,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7955,13236473,Atmospheric 5-room appartment with roof terrace,61508983,Koen,Watergraafsmeer,52.353641,4.941954,Entire home/apt,149,4,0,NaN,NaN,1,0,NaN
7952,13230986,Cozy place in central Jordaan area,15674241,Wouter,Centrum-West,52.382080,4.881749,Entire home/apt,95,4,9,2018-09-07,0.30,1,0,NaN
7926,13183525,"Lovely, cosy apartment in the heart of Amsterdam",1009566,F.,Centrum-Oost,52.369495,4.912994,Entire home/apt,111,4,14,2017-07-12,0.46,1,0,NaN
7924,13182867,Light & Modern apartment near center Amsterdam,1283321,Eefje,Bos en Lommer,52.377274,4.849948,Entire home/apt,100,4,9,2017-08-13,0.31,1,0,NaN
8369,13613179,Stylish apartment in trendy neighborhood | 1 BR,7943711,Paul,De Pijp - Rivierenbuurt,52.353330,4.899221,Entire home/apt,150,4,13,2018-10-21,0.80,1,4,NaN

In [46]:
#check values over 100
df_listings.loc[df_listings['minimum_nights']>100].sort_values('minimum_nights',ascending=False)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_nulls
12245,18816109,Nice room,21681343,Raffaele,De Pijp - Rivierenbuurt,52.352252,4.899190,Private room,130,1001,24,2018-11-25,1.62,2,89,NaN
2183,3445095,Beautiful bright app Amsterdam/w room for child,2826599,Justin And Laura,De Baarsjes - Oud-West,52.363751,4.850904,Entire home/apt,120,999,4,2016-09-12,0.08,1,365,NaN
2932,4761059,Small cosy studio@ Vondelpark,17299639,Wesley,Zuid,52.352056,4.855118,Private room,150,365,0,NaN,NaN,2,364,NaN
3668,6149173,Longstay room with a view,31379572,Rudy,Oostelijk Havengebied - Indische Buurt,52.376782,4.944672,Entire home/apt,100,365,0,NaN,NaN,1,365,NaN
18721,28651212,No available,216187616,David,De Baarsjes - Oud-West,52.367939,4.866657,Entire home/apt,3000,365,10,2018-11-06,4.76,1,64,NaN
11168,17452735,Lovely apartement near Zuidas,110834551,Allard,Zuid,52.348438,4.875657,Entire home/apt,91,300,8,2017-04-16,0.37,1,188,NaN
17188,25900530,"Comfortable, affordable private room with garden",65678398,Skye,De Aker - Nieuw Sloten,52.344125,4.817270,Private room,39,230,3,2018-08-25,0.64,1,175,NaN
4230,6980353,"Spacious, hotel-comfort apartment",22872749,Michael,De Baarsjes - Oud-West,52.363811,4.857918,Entire home/apt,300,222,15,2016-10-31,0.36,1,87,NaN
3060,4985612,Amsterdam Old Center,25694276,Ursula,Westerpark,52.379682,4.877817,Entire home/apt,100,186,2,2015-10-19,0.05,1,0,NaN
4226,6971057,Stunning 9 Streets City Centre Apt!,36552561,Daan,Centrum-West,52.368006,4.884848,Entire home/apt,120,185,102,2017-11-30,2.43,1,365,NaN
883,1196309,Modern apartment with view on canal,6536982,Dirk,Zuid,52.347255,4.857346,Entire home/apt,120,183,0,NaN,NaN,1,363,NaN
10545,16376319,Spacious and clean apartment in Amsterdam North,107262947,Wieneke,Noord-Oost,52.405088,4.943347,Entire home/apt,55,181,0,NaN,NaN,1,363,NaN
219,414917,Cent Adam Lux (2-4p) Apt 90 sqm(m2),2063612,Jan,Centrum-Oost,52.362999,4.899172,Entire home/apt,299,180,78,2015-07-16,0.98,1,358,NaN
339,588059,Casa Bacco @ Amsterdam city center,1501059,Bacco,Centrum-Oost,52.359799,4.899159,Entire home/apt,110,180,39,2015-10-11,0.51,1,154,NaN

In [47]:
#replacing values over 100 with NaN
df_listings.loc[df_listings['minimum_nights']>100, 'minimum_nights'] = np.nan

In [48]:
#price column
df_listings.loc[df_listings['price']>3000].sort_values('price',ascending=False)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,reviews_nulls
7234,12213707,Comfy double room right to city center,42658693,Peter,Oud-Oost,52.359453,4.912028,Entire home/apt,8500,3.0,13,2017-10-02,0.48,1,362,NaN
127,258273,Great CENTRAL apartment De Pijp,1358307,Peter,De Pijp - Rivierenbuurt,52.354200,4.891596,Entire home/apt,8000,30.0,8,2013-10-22,0.10,1,364,NaN
19486,29926643,Lovely place,225007426,Anubisdelvalle,Centrum-West,52.382054,4.883831,Entire home/apt,5040,3.0,3,2018-11-25,3.00,1,0,NaN
13009,19686192,diervriendelijk appartementje aan rand Amsterdam,138283471,Marianne,IJburg - Zeeburgereiland,52.352146,5.004802,Private room,5000,3.0,0,NaN,NaN,1,0,NaN
3321,5587500,Crane Hotel Faralda Amsterdam,21831151,Faralda,Oud-Noord,52.399452,4.894675,Entire home/apt,4500,1.0,2,2016-09-16,0.05,4,364,NaN
16959,25349319,Long-term (expat) luxury appt: 3-bedr ++LOCATION,16433767,Laura,Zuid,52.350351,4.847390,Entire home/apt,3900,30.0,1,2018-07-11,0.20,4,332,NaN
10008,15626614,One public bedroom,60409350,Alina,Centrum-Oost,52.371641,4.901265,Entire home/apt,3142,1.0,0,NaN,NaN,1,178,NaN

In [49]:
#replace the top highest price values with NaN
df_listings.loc[df_listings['price']>=8000, 'price'] = np.nan

In [50]:
df_listings.to_csv(os.path.join(path, 'listings_checked.csv'))

## Calendar

In [52]:
df_calendar = pd.read_csv(os.path.join(path, 'calendar.csv'), index_col = False)

In [53]:
df_calendar.shape

(7310950, 4)

In [54]:
df_calendar.dtypes

listing_id     int64
date          object
available     object
price         object
dtype: object

In [55]:
df_calendar.head()

   listing_id        date available price
0        2818  2019-12-05         f   NaN
1       73208  2019-08-30         f   NaN
2       73208  2019-08-29         f   NaN
3       73208  2019-08-28         f   NaN
4       73208  2019-08-27         f   NaN

In [56]:
#the 'available' column has two possible values, t and f, which correspond to true or false. we can convert these to Boolean values.

In [57]:
df_calendar = df_calendar.replace({'t': True, 'f': False})

C:\Users\artoe\AppData\Local\Temp\ipykernel_6680\2272342299.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_calendar = df_calendar.replace({'t': True, 'f': False})

In [58]:
df_calendar.dtypes

listing_id     int64
date          object
available       bool
price         object
dtype: object

#### Finding and addressing null values

In [60]:
df_calendar.isnull().sum()

listing_id          0
date                0
available           0
price         6110879
dtype: int64

In [61]:
#the price column is missing 84% of is values. however, this could be because these listings were unavailable at the time

In [62]:
df_calendar['available'].value_counts()

available
False    6110879
True     1200071
Name: count, dtype: int64

In [63]:
#there are the same number of rows with the 'available' value being f and the price missing. therefore, it might not be advisable to drop the price column.

#### Finding and addressing mixed types

In [65]:
for col in df_calendar.columns.tolist():
  weird = (df_calendar[[col]].map(type) != df_calendar[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_calendar[weird]) > 0:
    print (col)

price

In [66]:
df_calendar['price'] = df_calendar['price'].astype('str')

In [67]:
#remove special characters from price column, convert into float64
df_calendar['price'] = df_calendar['price'].str.replace('$', '')

In [68]:
df_calendar['price'] = df_calendar['price'].str.replace(',', '')

In [69]:
df_calendar['price'] = df_calendar['price'].astype('float64')

In [70]:
df_calendar.dtypes

listing_id      int64
date           object
available        bool
price         float64
dtype: object

#### Finding and addressing duplicates

In [72]:
df_cal_dups = df_calendar[df_calendar.duplicated()]

In [73]:
df_cal_dups.shape

(0, 4)

In [74]:
#no duplicate rows found

#### Addressing outliers

In [76]:
df_calendar.describe().T

,count,mean,std,min,25%,50%,75%,max
listing_id,7310950.0,1.541725e+07,8.569190e+06,2818.0,8187901.0,15630490.0,22026123.0,30580413.0
price,1200071.0,2.076556e+02,2.812379e+02,9.0,109.0,150.0,240.0,8500.0

In [77]:
df_calendar.loc[df_calendar['price']>240].sort_values('price',ascending=False)

         listing_id        date  available   price
2591232    12213707  2019-02-09       True  8500.0
2590551    12213707  2019-07-09       True  8500.0
2590553    12213707  2019-07-07       True  8500.0
2590554    12213707  2019-07-06       True  8500.0
2590555    12213707  2019-07-05       True  8500.0
...             ...         ...        ...     ...
6450375    26791603  2019-09-05       True   241.0
6450374    26791603  2019-09-06       True   241.0
6450373    26791603  2019-09-07       True   241.0
6450372    26791603  2019-09-08       True   241.0
5782239    23494410  2019-11-01       True   241.0

[295875 rows x 4 columns]

In [78]:
#there are many entries with prices in the 1000s. 
df_calendar['listing_id'].loc[df_calendar['price']>8000].value_counts()

listing_id
12213707    362
22807937      4
Name: count, dtype: int64

In [79]:
#it would be best to leave these price values as is for now.

In [80]:
df_calendar.describe().T

,count,mean,std,min,25%,50%,75%,max
listing_id,7310950.0,1.541725e+07,8.569190e+06,2818.0,8187901.0,15630490.0,22026123.0,30580413.0
price,1200071.0,2.076556e+02,2.812379e+02,9.0,109.0,150.0,240.0,8500.0

#### Export checked calendar df

In [82]:
df_calendar.to_csv(os.path.join(path, 'calendar_checked.csv'))

### Listings Details

In [84]:
df_list_details = pd.read_csv(os.path.join(path, 'listings_details.csv'), index_col = False)

C:\Users\artoe\AppData\Local\Temp\ipykernel_6680\1543842232.py:1: DtypeWarning: Columns (87) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list_details = pd.read_csv(os.path.join(path, 'listings_details.csv'), index_col = False)

In [85]:
df_list_details.shape

(20030, 96)

In [86]:
pd.options.display.min_rows = 100
df_list_details.dtypes

id                                    int64
listing_url                          object
scrape_id                             int64
last_scraped                         object
name                                 object
summary                              object
space                                object
description                          object
experiences_offered                  object
neighborhood_overview                object
notes                                object
transit                              object
access                               object
interaction                          object
house_rules                          object
thumbnail_url                       float64
medium_url                          float64
picture_url                          object
xl_picture_url                      float64
host_id                               int64
host_url                             object
host_name                            object
host_since                           object
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                   object
host_acceptance_rate                float64
host_is_superhost                    object
host_thumbnail_url                   object
                                     ...
extra_people                         object
minimum_nights                        int64
maximum_nights                        int64
calendar_updated                     object
has_availability                     object
availability_30                       int64
availability_60                       int64
availability_90                       int64
availability_365                      int64
calendar_last_scraped                object
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
review_scores_accuracy              float64
review_scores_cleanliness           float64
review_scores_checkin               float64
review_scores_communication         float64
review_scores_location              float64
review_scores_value                 float64
requires_license                     object
license                              object
jurisdiction_names                   object
instant_bookable                     object
is_business_travel_ready             object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
Length: 96, dtype: object

In [87]:
#drop irrelevant columns
df_list_details.drop(columns=['scrape_id','last_scraped','neighbourhood','country_code','market','smart_location','availability_30','availability_60','availability_90','calendar_last_scraped'], inplace=True)

In [88]:
#check for mixed data types

In [89]:
for col in df_list_details.columns.tolist():
  weird = (df_list_details[[col]].map(type) != df_list_details[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_list_details[weird]) > 0:
    print (col)

name
summary
space
description
neighborhood_overview
notes
transit
access
interaction
house_rules
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_verifications
host_has_profile_pic
host_identity_verified
city
state
zipcode
weekly_price
monthly_price
security_deposit
cleaning_fee
first_review
last_review
license
jurisdiction_names

##### Converting columns to str

In [91]:
df_list_details[["name", "summary", "space", "description", "neighborhood_overview", "notes", "transit", "interaction", "house_rules", "host_name", "host_location"]] = df_list_details[["name", "summary", "space", "description", "neighborhood_overview", "notes", "transit", "interaction", "house_rules", "host_name", "host_location"]].astype('str')

In [92]:
df_list_details.dtypes

id                                    int64
listing_url                          object
name                                 object
summary                              object
space                                object
description                          object
experiences_offered                  object
neighborhood_overview                object
notes                                object
transit                              object
access                               object
interaction                          object
house_rules                          object
thumbnail_url                       float64
medium_url                          float64
picture_url                          object
xl_picture_url                      float64
host_id                               int64
host_url                             object
host_name                            object
host_since                           object
host_location                        object
host_about                           object
host_response_time                   object
host_response_rate                   object
host_acceptance_rate                float64
host_is_superhost                    object
host_thumbnail_url                   object
host_picture_url                     object
host_neighbourhood                   object
                                     ...
monthly_price                        object
security_deposit                     object
cleaning_fee                         object
guests_included                       int64
extra_people                         object
minimum_nights                        int64
maximum_nights                        int64
calendar_updated                     object
has_availability                     object
availability_365                      int64
number_of_reviews                     int64
first_review                         object
last_review                          object
review_scores_rating                float64
review_scores_accuracy              float64
review_scores_cleanliness           float64
review_scores_checkin               float64
review_scores_communication         float64
review_scores_location              float64
review_scores_value                 float64
requires_license                     object
license                              object
jurisdiction_names                   object
instant_bookable                     object
is_business_travel_ready             object
cancellation_policy                  object
require_guest_profile_picture        object
require_guest_phone_verification     object
calculated_host_listings_count        int64
reviews_per_month                   float64
Length: 86, dtype: object

##### Converting columns to bool

In [94]:
#many columns contain values 't' and 'f'. these can be converted from object to bool
df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified", "is_location_exact", "has_availability", "requires_license", "instant_bookable", "is_business_travel_ready", "require_guest_profile_picture", "require_guest_phone_verification"]] = df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified", "is_location_exact", "has_availability", "requires_license", "instant_bookable", "is_business_travel_ready", "require_guest_profile_picture", "require_guest_phone_verification"]].replace({'t': True, 'f': False})

C:\Users\artoe\AppData\Local\Temp\ipykernel_6680\1495566423.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified", "is_location_exact", "has_availability", "requires_license", "instant_bookable", "is_business_travel_ready", "require_guest_profile_picture", "require_guest_phone_verification"]] = df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified", "is_location_exact", "has_availability", "requires_license", "instant_bookable", "is_business_travel_ready", "require_guest_profile_picture", "require_guest_phone_verification"]].replace({'t': True, 'f': False})

In [95]:
df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified", "is_location_exact", "has_availability", "requires_license", "instant_bookable", "is_business_travel_ready", "require_guest_profile_picture", "require_guest_phone_verification"]].dtypes

host_is_superhost                   object
host_has_profile_pic                object
host_identity_verified              object
is_location_exact                     bool
has_availability                      bool
requires_license                      bool
instant_bookable                      bool
is_business_travel_ready              bool
require_guest_profile_picture         bool
require_guest_phone_verification      bool
dtype: object

In [96]:
for col in df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]].columns.tolist():
  weird = (df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]][[col]].map(type) != df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]][[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]][weird]) > 0:
    print (col)

host_is_superhost
host_has_profile_pic
host_identity_verified

In [97]:
df_list_details["host_is_superhost"].value_counts()

host_is_superhost
False    16856
True      3170
Name: count, dtype: int64

In [98]:
df_list_details["host_has_profile_pic"].value_counts()

host_has_profile_pic
True     20005
False       21
Name: count, dtype: int64

In [99]:
df_list_details["host_identity_verified"].value_counts()

host_identity_verified
False    11755
True      8271
Name: count, dtype: int64

In [100]:
df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]] = df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]].replace({'True': 1, 'False': 0})

In [101]:
df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]] = df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]].astype('bool')

In [102]:
df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified"]].head()

   host_is_superhost  host_has_profile_pic  host_identity_verified
0               True                  True                   False
1              False                  True                    True
2              False                  True                   False
3              False                  True                   False
4               True                  True                    True

In [103]:
df_list_details[["host_is_superhost", "host_has_profile_pic", "host_identity_verified", "is_location_exact", "has_availability", "requires_license", "instant_bookable", "is_business_travel_ready", "require_guest_profile_picture", "require_guest_phone_verification"]].dtypes

host_is_superhost                   bool
host_has_profile_pic                bool
host_identity_verified              bool
is_location_exact                   bool
has_availability                    bool
requires_license                    bool
instant_bookable                    bool
is_business_travel_ready            bool
require_guest_profile_picture       bool
require_guest_phone_verification    bool
dtype: object

##### Converting price-related columns to float64

In [105]:
df_list_details[["price", "weekly_price", "monthly_price", "cleaning_fee", "extra_people"]].dtypes

price            object
weekly_price     object
monthly_price    object
cleaning_fee     object
extra_people     object
dtype: object

In [106]:
df_list_details['price'] = df_list_details['price'].str.replace('$', '')

In [107]:
df_list_details['price'] = df_list_details['price'].str.replace(',', '')

In [108]:
df_list_details['monthly_price'] = df_list_details['monthly_price'].str.replace('$', '')

In [109]:
df_list_details['monthly_price'] = df_list_details['monthly_price'].str.replace(',', '')

In [110]:
df_list_details['weekly_price'] = df_list_details['weekly_price'].str.replace('$', '')

In [111]:
df_list_details['weekly_price'] = df_list_details['weekly_price'].str.replace(',', '')

In [112]:
df_list_details['cleaning_fee'] = df_list_details['cleaning_fee'].str.replace('$', '')

In [113]:
df_list_details['cleaning_fee'] = df_list_details['cleaning_fee'].str.replace(',', '')

In [114]:
df_list_details['extra_people'] = df_list_details['extra_people'].str.replace('$','')

In [115]:
df_list_details['extra_people'] = df_list_details['extra_people'].str.replace(',','')

In [116]:
#convert these columns to float64
df_list_details['weekly_price'] = df_list_details['weekly_price'].astype('float64')

In [117]:
df_list_details['price'] = df_list_details['price'].astype('float64')

In [118]:
df_list_details['weekly_price'] = df_list_details['weekly_price'].astype('float64')

In [119]:
df_list_details['monthly_price'] = df_list_details['monthly_price'].astype('float64')

In [120]:
df_list_details['cleaning_fee'] = df_list_details['cleaning_fee'].astype('float64')

In [121]:
df_list_details['extra_people'] = df_list_details['extra_people'].astype('float64')

In [122]:
df_list_details[["price","weekly_price","monthly_price","cleaning_fee","extra_people"]].head()

   price  weekly_price  monthly_price  cleaning_fee  extra_people
0   59.0           NaN         1500.0          50.0          20.0
1  160.0         543.0         2000.0          40.0          15.0
2   80.0           NaN            NaN           NaN           0.0
3  125.0         650.0         2000.0          40.0          10.0
4  150.0         810.0         2500.0           0.0           0.0

#### Finding Duplicates

In [124]:
#the columns id and listing_url should be unique for each row, therefore should be checked for duplicates
df_listdetails_dups = df_list_details[["id", "listing_url"]].duplicated()

In [125]:
df_listdetails_dups.shape

(20030,)

In [126]:
df_listdetails_id_dups = df_list_details['id'].duplicated()

In [127]:
df_listdetails_id_dups.sum()

0

In [128]:
df_listdetails_url_dups = df_list_details['listing_url'].duplicated()

In [129]:
df_listdetails_url_dups.sum()

0

In [130]:
#there are no duplicate rows

#### Finding and addressing nulls

In [132]:
pd.options.display.min_rows = 96
df_list_details.isnull().sum().sort_values(ascending=False)

xl_picture_url                  20030
neighbourhood_group_cleansed    20030
medium_url                      20030
thumbnail_url                   20030
host_acceptance_rate            20030
license                         20021
square_feet                     19624
monthly_price                   18469
weekly_price                    17187
host_response_time               9483
host_response_rate               9483
host_about                       8227
access                           7803
security_deposit                 6166
host_neighbourhood               5808
cleaning_fee                     3629
review_scores_checkin            2661
review_scores_location           2660
review_scores_value              2659
review_scores_communication      2652
review_scores_accuracy           2649
review_scores_cleanliness        2647
review_scores_rating             2639
last_review                      2406
first_review                     2406
reviews_per_month                2406
zipcode                           866
jurisdiction_names                672
state                             127
bathrooms                          10
                                ...
host_name                           0
name                                0
summary                             0
space                               0
description                         0
experiences_offered                 0
neighborhood_overview               0
notes                               0
transit                             0
interaction                         0
house_rules                         0
picture_url                         0
host_id                             0
host_url                            0
host_location                       0
amenities                           0
host_is_superhost                   0
host_has_profile_pic                0
host_identity_verified              0
street                              0
neighbourhood_cleansed              0
country                             0
latitude                            0
listing_url                         0
is_location_exact                   0
property_type                       0
room_type                           0
accommodates                        0
bed_type                            0
longitude                           0
Length: 86, dtype: int64

In [133]:
#5 columns are completely empty, therefore they can be dropped right away
df_list_details.drop(columns=['host_acceptance_rate', 'xl_picture_url', 'neighbourhood_group_cleansed', 'medium_url', 'thumbnail_url'], inplace=True)

In [134]:
#view the rest of the columns with nulls

In [135]:
pd.options.display.min_rows = 96
df_list_details.isnull().sum().sort_values(ascending=False)

license                        20021
square_feet                    19624
monthly_price                  18469
weekly_price                   17187
host_response_rate              9483
host_response_time              9483
host_about                      8227
access                          7803
security_deposit                6166
host_neighbourhood              5808
cleaning_fee                    3629
review_scores_checkin           2661
review_scores_location          2660
review_scores_value             2659
review_scores_communication     2652
review_scores_accuracy          2649
review_scores_cleanliness       2647
review_scores_rating            2639
last_review                     2406
first_review                    2406
reviews_per_month               2406
zipcode                          866
jurisdiction_names               672
state                            127
bathrooms                         10
bedrooms                           8
beds                               7
city                               4
host_since                         4
host_picture_url                   4
                               ...
host_name                          0
name                               0
summary                            0
space                              0
description                        0
experiences_offered                0
neighborhood_overview              0
notes                              0
transit                            0
interaction                        0
house_rules                        0
picture_url                        0
host_id                            0
host_url                           0
host_location                      0
amenities                          0
host_is_superhost                  0
host_has_profile_pic               0
host_identity_verified             0
street                             0
neighbourhood_cleansed             0
country                            0
latitude                           0
longitude                          0
is_location_exact                  0
listing_url                        0
room_type                          0
accommodates                       0
bed_type                           0
property_type                      0
Length: 81, dtype: int64

In [136]:
#city and state contain small numbers of nulls. these might be easily imputed
#to double check, display value counts for these two columns
pd.options.display.min_rows = 30
df_list_details['city'].value_counts()

city
Amsterdam                       19715
Amsterdam-Zuidoost                193
Amsterdam Zuid-Oost                35
Amsterdam                          10
Badhoevedorp                        9
Diemen                              8
De Pijp                             7
Amstelveen                          7
Watergraafsmeer                     6
Duivendrecht                        6
Jordaan                             5
Amsterdam (Zunderdorp)              3
Halfweg                             3
Amsterdam Zuidoost                  2
Zeeburg                             2
Amsterdo                           1
Ouderkerk aan de Amstel             1
Buitenveldert                       1
Weesp                               1
Zeeburgerkade                       1
1015 SN Amsterdam                   1
msterdam                           1
Nederland                           1
Amsterdam, Noord-Holland, NL        1
Lijnden                             1
Amsterdam West                      1
Jordaan, Amsterdam                  1
Haarlem                             1
                           1
Zaandam                             1
Name: count, dtype: int64

In [137]:
#we cannot impute a value into the 4 nulls for city without further examining these rows

In [138]:
pd.options.display.min_rows = 30
df_list_details['state'].value_counts()

state
Noord-Holland                      15579
North Holland                       2951
NH                                  1278
Netherlands                           15
Noord Holland                         15
Badhoevedorp                           7
Amsterdam                              7
XH                                     2
Bilderdijkstraat                       2
NL                                     2
SN                                     1
Pieter Calandlaan                      1
JT                                     1
Nassaukade                             1
VX                                     1
BE                                     1
RJ                                     1
LN                                     1
DP                                     1
CE                                     1
NB                                     1
TL                                     1
KX                                     1
nh                                     1
Albert Cuypstraat 100-3A               1
WD                                     1
Lanseloetstraat 3                      1
Europe                                 1
Nord Holland                           1
Wibautstraat                           1
North-Holland                          1
Overtoom                               1
Zuiderzeeweg                           1
Zeedijk                                1
NM                                     1
Nh                                     1
Noordholland                           1
Emmy andriessestraat                   1
Holland                                1
SX                                     1
North                                  1
MK                                     1
Fritz Dietrich Kahlenbergstraat        1
AH                                     1
GA                                     1
Borgerstraat                           1
BW                                     1
Blancefloorstraat                      1
GD                                     1
Amstel                                 1
Noord-Holland,1074 ES                  1
GE                                     1
Modern                                 1
boord Holland                          1
GJ                                     1
Name: count, dtype: int64

In [139]:
#Majority of rows contain either Noord-Holland or North Holland. The 127 null rows would need to be further checked before imputing values.

#### Addressing nulls for first_review, reviews_per_month, last_review

In [141]:
df_no_first_review = df_list_details[df_list_details['first_review'].isnull() == True]

In [142]:
df_no_first_review[['reviews_per_month','last_review']].isnull().sum()

reviews_per_month    2406
last_review          2406
dtype: int64

In [143]:
#replace the reviews_per_month with 0
df_list_details['reviews_per_month'].fillna(0, inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_6680\1303445234.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_list_details['reviews_per_month'].fillna(0, inplace=True)

In [144]:
df_list_details['reviews_per_month'].isnull().sum()

0

In [145]:
#replace the nulls in first_review and last_review with No Reviews
df_list_details['first_review'].fillna('No Reviews', inplace=True)
df_list_details['last_review'].fillna('No Reviews', inplace=True)

C:\Users\artoe\AppData\Local\Temp\ipykernel_6680\868862071.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_list_details['first_review'].fillna('No Reviews', inplace=True)
C:\Users\artoe\AppData\Local\Temp\ipykernel_6680\868862071.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_list_details['last_review'].fillna('No Reviews', inplace=True)

In [146]:
df_list_details[['first_review', 'last_review']].isnull().sum()

first_review    0
last_review     0
dtype: int64

#### Renaming columns

In [148]:
df_list_details.rename(columns = {'neighborhood_overview':'neighbourhood_overview'}, inplace=True)

In [149]:
df_list_details.rename(columns = {'neighbourhood_cleansed':'neighbourhood'}, inplace=True)

#### Export checked listings_details to csv

In [151]:
df_list_details.to_csv(os.path.join(path,'listings_details_checked.csv'))

### Neighbourhoods

In [153]:
df_neighbourhoods = pd.read_csv(os.path.join(path, 'neighbourhoods.csv'), index_col = False)

In [154]:
df_neighbourhoods.shape

(22, 2)

In [155]:
df_neighbourhoods

    neighbourhood_group                           neighbourhood
0                   NaN                         Bijlmer-Centrum
1                   NaN                            Bijlmer-Oost
2                   NaN                           Bos en Lommer
3                   NaN                  Buitenveldert - Zuidas
4                   NaN                            Centrum-Oost
5                   NaN                            Centrum-West
6                   NaN                  De Aker - Nieuw Sloten
7                   NaN                  De Baarsjes - Oud-West
8                   NaN                 De Pijp - Rivierenbuurt
9                   NaN                   Gaasperdam - Driemond
10                  NaN                 Geuzenveld - Slotermeer
11                  NaN                IJburg - Zeeburgereiland
12                  NaN                              Noord-Oost
13                  NaN                              Noord-West
14                  NaN  Oostelijk Havengebied - Indische Buurt
15                  NaN                                  Osdorp
16                  NaN                               Oud-Noord
17                  NaN                                Oud-Oost
18                  NaN                             Slotervaart
19                  NaN                         Watergraafsmeer
20                  NaN                              Westerpark
21                  NaN                                    Zuid

In [156]:
#neighbourhood_group column is empty, can be dropped
df_neighbourhoods.drop(columns=['neighbourhood_group'], inplace=True)

In [157]:
#no other checks or wrangling steps needed for this data, can be exported
df_neighbourhoods.to_csv(os.path.join(path,'neighbourhoods_checked.csv'))

### Reviews

In [159]:
df_reviews = pd.read_csv(os.path.join(path, 'reviews.csv'), index_col = False)

In [160]:
df_reviews.shape

(431830, 2)

#### Check for mixed types

In [162]:
df_reviews.dtypes

listing_id     int64
date          object
dtype: object

In [163]:
for col in df_reviews.columns.tolist():
  weird = (df_reviews[[col]].map(type) != df_reviews[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_reviews[weird]) > 0:
    print (col)

In [164]:
#no mixed types

#### Check for nulls

In [166]:
df_reviews.isnull().sum()

listing_id    0
date          0
dtype: int64

In [167]:
#no null values

#### Check for duplicates

In [169]:
df_reviews.duplicated().sum()

1321

In [170]:
df_reviews_dups = df_reviews[df_reviews.duplicated()]

In [171]:
df_reviews_dups.shape

(1321, 2)

In [172]:
df_reviews_dups.head()

      listing_id        date
367        20168  2016-01-05
1220       28871  2017-08-29
1506       29051  2016-03-10
2620       47061  2011-10-16
3036       50515  2014-04-17

In [173]:
#drop 1321 full duplicate rows

In [174]:
df_reviews_no_dups = df_reviews.drop_duplicates()

In [175]:
df_reviews_no_dups.shape

(430509, 2)

#### Export checked reviews

In [177]:
df_reviews.to_csv(os.path.join(path, 'reviews_checked.csv'))

### Reviews Details

In [179]:
df_revs_details = pd.read_csv(os.path.join(path, 'reviews_details.csv'))

In [180]:
df_revs_details.shape

(431830, 6)

#### Check for mixed types

In [182]:
df_revs_details.dtypes

listing_id        int64
id                int64
date             object
reviewer_id       int64
reviewer_name    object
comments         object
dtype: object

In [183]:
for col in df_revs_details.columns.tolist():
  weird = (df_revs_details[[col]].map(type) != df_revs_details[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_revs_details[weird]) > 0:
    print (col)

comments

In [184]:
#comments contains mixed types. can be converted to string
df_revs_details['comments'] = df_revs_details['comments'].astype('str')

#### Check for null values

In [186]:
df_revs_details.isnull().sum()

listing_id       0
id               0
date             0
reviewer_id      0
reviewer_name    0
comments         0
dtype: int64

In [187]:
#no nulls found

#### Check for duplicates

In [189]:
df_revs_details_dups = df_revs_details[df_revs_details.duplicated()]

In [190]:
df_revs_details_dups.shape

(0, 6)

In [191]:
#no duplicates found

#### Export checked reviews details

In [193]:
df_revs_details.to_csv(os.path.join(path, 'reviews_details_checked.csv'))

### Descriptive Analysis

In [195]:
df_listings.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.003000e+04,2.003000e+04,20030.000000,20030.000000,20028.000000,20016.000000,20030.000000,17624.00000,20030.000000,20030.000000
mean,1.541725e+07,4.868570e+07,52.365212,4.888977,151.372528,3.084133,21.560459,1.06208,4.734698,59.913679
std,8.569404e+06,5.649635e+07,0.015996,0.035573,121.295887,4.403530,43.240292,1.33332,22.921886,104.027710
min,2.818000e+03,3.159000e+03,52.288378,4.753247,0.000000,1.000000,0.000000,0.01000,1.000000,0.000000
25%,8.188423e+06,8.093516e+06,52.355126,4.863595,96.000000,2.000000,3.000000,0.27000,1.000000,0.000000
50%,1.563049e+07,2.369450e+07,52.364590,4.886387,125.000000,2.000000,8.000000,0.62000,1.000000,3.000000
75%,2.202577e+07,6.827535e+07,52.375074,4.908288,175.000000,3.000000,22.000000,1.23000,1.000000,67.000000
max,3.058041e+07,2.293612e+08,52.424713,5.027689,5040.000000,100.000000,695.000000,11.85000,208.000000,365.000000

In [196]:
df_calendar.describe()

         listing_id         price
count  7.310950e+06  1.200071e+06
mean   1.541725e+07  2.076556e+02
std    8.569190e+06  2.812379e+02
min    2.818000e+03  9.000000e+00
25%    8.187901e+06  1.090000e+02
50%    1.563049e+07  1.500000e+02
75%    2.202612e+07  2.400000e+02
max    3.058041e+07  8.500000e+03

In [197]:
df_list_details.describe().T

,count,mean,std,min,25%,50%,75%,max
id,20030.0,1.541725e+07,8.569404e+06,2818.000000,8.188423e+06,1.563049e+07,2.202577e+07,3.058041e+07
host_id,20030.0,4.868570e+07,5.649635e+07,3159.000000,8.093516e+06,2.369450e+07,6.827535e+07,2.293612e+08
host_listings_count,20026.0,6.105812e+00,3.038852e+01,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,6.980000e+02
host_total_listings_count,20026.0,6.105812e+00,3.038852e+01,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,6.980000e+02
latitude,20030.0,5.236521e+01,1.599599e-02,52.288378,5.235513e+01,5.236459e+01,5.237507e+01,5.242471e+01
longitude,20030.0,4.888977e+00,3.557343e-02,4.753247,4.863595e+00,4.886387e+00,4.908288e+00,5.027689e+00
accommodates,20030.0,2.891912e+00,1.318760e+00,1.000000,2.000000e+00,2.000000e+00,4.000000e+00,1.700000e+01
bathrooms,20020.0,1.137662e+00,7.939026e-01,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.005000e+02
bedrooms,20022.0,1.445060e+00,8.856803e-01,0.000000,1.000000e+00,1.000000e+00,2.000000e+00,1.200000e+01
beds,20023.0,1.849223e+00,1.389664e+00,0.000000,1.000000e+00,1.000000e+00,2.000000e+00,3.200000e+01
square_feet,406.0,5.204852e+02,5.445577e+02,0.000000,0.000000e+00,4.840000e+02,8.070000e+02,4.306000e+03
price,20030.0,1.521812e+02,1.458290e+02,0.000000,9.600000e+01,1.250000e+02,1.750000e+02,8.500000e+03
weekly_price,2843.0,8.210549e+02,4.588445e+02,100.000000,5.500000e+02,7.000000e+02,9.500000e+02,6.000000e+03
monthly_price,1561.0,2.594989e+03,1.527439e+03,550.000000,1.650000e+03,2.200000e+03,3.000000e+03,2.000000e+04
cleaning_fee,16401.0,3.927157e+01,2.426840e+01,0.000000,2.500000e+01,3.500000e+01,5.000000e+01,5.310000e+02
guests_included,20030.0,1.468997e+00,9.378896e-01,1.000000,1.000000e+00,1.000000e+00,2.000000e+00,1.600000e+01
extra_people,20030.0,1.131588e+01,2.215206e+01,0.000000,0.000000e+00,0.000000e+00,2.000000e+01,2.800000e+02
minimum_nights,20030.0,3.328707e+00,1.253742e+01,1.000000,2.000000e+00,2.000000e+00,3.000000e+00,1.001000e+03
maximum_nights,20030.0,6.312257e+02,5.413400e+02,1.000000,2.100000e+01,1.125000e+03,1.125000e+03,9.999000e+03
availability_365,20030.0,5.991368e+01,1.040277e+02,0.000000,0.000000e+00,3.000000e+00,6.700000e+01,3.650000e+02
number_of_reviews,20030.0,2.156046e+01,4.324029e+01,0.000000,3.000000e+00,8.000000e+00,2.200000e+01,6.950000e+02
review_scores_rating,17391.0,9.484952e+01,6.648685e+00,20.000000,9.300000e+01,9.700000e+01,1.000000e+02,1.000000e+02
review_scores_accuracy,17381.0,9.679765e+00,6.852705e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_cleanliness,17383.0,9.465627e+00,8.679734e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_checkin,17369.0,9.735563e+00,6.465567e-01,2.000000,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_communication,17378.0,9.785361e+00,5.994087e-01,2.000000,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_location,17370.0,9.421531e+00,7.279310e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_value,17371.0,9.175004e+00,8.054216e-01,2.000000,9.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01
calculated_host_listings_count,20030.0,4.734698e+00,2.292189e+01,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,2.080000e+02
reviews_per_month,20030.0,9.345032e-01,1.297465e+00,0.000000,1.700000e-01,5.100000e-01,1.090000e+00,1.185000e+01

In [198]:
df_revs_details.describe()

         listing_id            id   reviewer_id
count  4.318300e+05  4.318300e+05  4.318300e+05
mean   9.540278e+06  1.676551e+08  5.844055e+07
std    7.646134e+06  1.027225e+08  5.424683e+07
min    2.818000e+03  1.191000e+03  4.370000e+02
25%    2.482541e+06  7.596344e+07  1.533860e+07
50%    7.815853e+06  1.591030e+08  3.931767e+07
75%    1.546254e+07  2.565866e+08  8.973084e+07
max    3.055009e+07  3.559969e+08  2.288387e+08