In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os
import warnings
warnings.filterwarnings('ignore')

In [2]:
path = r'C:\Users\artoe\Documents\DataAnalytics\Data Immersion\Exercises\Achievement 6\data'

In [3]:
df_list_details = pd.read_csv(os.path.join(path, 'listings_details_checked.csv'), index_col = False)

#### 73 columns still contain mixed types. Will either correct them or drop the columns.

In [5]:
for col in df_list_details.columns.tolist():
  weird = (df_list_details[[col]].map(type) != df_list_details[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_list_details[weird]) > 0:
    print (col)

name
summary
space
description
neighbourhood_overview
notes
transit
access
interaction
house_rules
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_thumbnail_url
host_picture_url
host_neighbourhood
host_verifications
city
state
zipcode
security_deposit
license
jurisdiction_names

In [6]:
df_list_details['name'] = df_list_details['name'].astype('str')

In [7]:
df_list_details['summary'] = df_list_details['summary'].astype('str')

In [8]:
df_list_details['space'] = df_list_details['space'].astype('str')

In [9]:
df_list_details['neighbourhood_overview'] = df_list_details['neighbourhood_overview'].astype('str')

In [10]:
df_list_details['description'] = df_list_details['description'].astype('str')

In [11]:
df_list_details['notes'] = df_list_details['notes'].astype('str')

In [12]:
df_list_details['transit'] = df_list_details['transit'].astype('str')

In [13]:
df_list_details['access'] = df_list_details['access'].astype('str')

In [14]:
df_list_details['interaction'] = df_list_details['interaction'].astype('str')

In [15]:
df_list_details['house_rules'] = df_list_details['house_rules'].astype('str')

In [16]:
df_list_details['host_name'] = df_list_details['host_name'].astype('str')

In [17]:
df_list_details['host_location'] = df_list_details['host_location'].astype('str')

In [18]:
df_list_details['host_about'] = df_list_details['host_about'].astype('str')

In [19]:
df_list_details['host_neighbourhood'] = df_list_details['host_neighbourhood'].astype('str')

In [20]:
df_list_details['host_response_time'] = df_list_details['host_response_time'].astype('str')

In [21]:
df_list_details['host_since'] = df_list_details['host_since'].astype('str')

In [22]:
df_list_details['host_verifications'] = df_list_details['host_verifications'].astype('str')

In [23]:
df_list_details['city'] = df_list_details['city'].astype('str')

In [24]:
df_list_details['state'] = df_list_details['state'].astype('str')

In [25]:
df_list_details['zipcode'] = df_list_details['zipcode'].astype('str')

In [26]:
df_list_details['license'] = df_list_details['license'].astype('str')

In [27]:
df_list_details['jurisdiction_names'] = df_list_details['jurisdiction_names'].astype('str')

In [28]:
for col in df_list_details.columns.tolist():
  weird = (df_list_details[[col]].map(type) != df_list_details[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_list_details[weird]) > 0:
    print (col)

host_response_rate
host_thumbnail_url
host_picture_url
security_deposit

In [29]:
df_list_details[['host_response_rate', 'host_thumbnail_url', 'host_picture_url', 'security_deposit']].head()

,host_response_rate,host_thumbnail_url,host_picture_url,security_deposit
0,100%,https://a0.muscache.com/im/users/3159/profile_...,https://a0.muscache.com/im/users/3159/profile_...,$100.00
1,100%,https://a0.muscache.com/im/users/3806/profile_...,https://a0.muscache.com/im/users/3806/profile_...,$300.00
2,100%,https://a0.muscache.com/im/pictures/user/579c8...,https://a0.muscache.com/im/pictures/user/579c8...,NaN
3,100%,https://a0.muscache.com/im/users/56142/profile...,https://a0.muscache.com/im/users/56142/profile...,$300.00
4,100%,https://a0.muscache.com/im/users/97647/profile...,https://a0.muscache.com/im/users/97647/profile...,$0.00

#### Convert host_response_rate and security_deposit to float64

In [31]:
df_list_details['host_response_rate'] = df_list_details['host_response_rate'].str.replace('%', '')

In [32]:
df_list_details['host_response_rate'] = df_list_details['host_response_rate'].astype('float64')

In [33]:
df_list_details['security_deposit'] = df_list_details['security_deposit'].str.replace('$', '')

In [34]:
df_list_details['security_deposit'] = df_list_details['security_deposit'].str.replace(',', '')

In [35]:
df_list_details['security_deposit'] = df_list_details['security_deposit'].astype('float64')

In [36]:
for col in df_list_details.columns.tolist():
  weird = (df_list_details[[col]].map(type) != df_list_details[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_list_details[weird]) > 0:
    print (col)

host_thumbnail_url
host_picture_url

#### Drop more irrelevant columns

In [38]:
df_list_details.drop(columns=['host_thumbnail_url','host_picture_url','host_has_profile_pic'], inplace=True)

In [39]:
df_list_details.shape

(20030, 79)

In [40]:
for col in df_list_details.columns.tolist():
  weird = (df_list_details[[col]].map(type) != df_list_details[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_list_details[weird]) > 0:
    print (col)

In [41]:
#no more mixed type columns found

#### Address potentially redundant columns

In [43]:
df_redundant = df_list_details[['host_listings_count','host_total_listings_count','calculated_host_listings_count']]

In [44]:
df_redundant.describe()

,host_listings_count,host_total_listings_count,calculated_host_listings_count
count,20026.000000,20026.000000,20030.000000
mean,6.105812,6.105812,4.734698
std,30.388516,30.388516,22.921886
min,0.000000,0.000000,1.000000
25%,1.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000
75%,1.000000,1.000000,1.000000
max,698.000000,698.000000,208.000000

##### The column calculated_listings_count appears to have been cleaned, outlier values deleted, and does not contain nulls unlike the other two.
##### We can therefore drop the other two columns and rename calculated_host_listings_count.

In [46]:
df_list_details.drop(columns=['host_listings_count','host_total_listings_count'], inplace=True)

##### Rename calculated_host_listings_count to host_listings_count

In [48]:
df_list_details.rename(columns = {'calculated_host_listings_count':'host_listings_count'}, inplace=True)

#### Editing location name data

In [50]:
df_list_details.columns

Index(['Unnamed: 0', 'id', 'listing_url', 'name', 'summary', 'space',
       'description', 'experiences_offered', 'neighbourhood_overview', 'notes',
       'transit', 'access', 'interaction', 'house_rules', 'picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_is_superhost', 'host_neighbourhood', 'host_verifications',
       'host_identity_verified', 'street', 'neighbourhood', 'city', 'state',
       'zipcode', 'country', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'minimum_nights', 'maximum_nights', 'calendar_updated',
       'has_availability', 'availability_365', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'host_listings_count', 'reviews_per_month'],
      dtype='object')

##### The neighbourhood, city, state and country columns should be checked for spelling and accuracy.

In [52]:
df_list_details['city'].value_counts()

city
Amsterdam                       19715
Amsterdam-Zuidoost                193
Amsterdam Zuid-Oost                35
Amsterdam                          10
Badhoevedorp                        9
Diemen                              8
De Pijp                             7
Amstelveen                          7
Watergraafsmeer                     6
Duivendrecht                        6
Jordaan                             5
nan                                 4
Amsterdam (Zunderdorp)              3
Halfweg                             3
Amsterdam Zuidoost                  2
Zeeburg                             2
Nederland                           1
1015 SN Amsterdam                   1
Ouderkerk aan de Amstel             1
Buitenveldert                       1
Weesp                               1
Zeeburgerkade                       1
Ámsterdam                           1
Амстердам                           1
Jordaan, Amsterdam                  1
Amsterdam, Noord-Holland, NL        1
Lijnden                             1
Amsterdam West                      1
Haarlem                             1
Amsterdão                           1
Zaandam                             1
Name: count, dtype: int64

In [53]:
df_list_details['city'].replace(['Amsterdam-Zuidoost','Amsterdam Zuid-Oost','De Pijp','Jordaan','Zeeburgerkade','1015 SN Amsterdam','Ámsterdam','Амстердам','Jordaan, Amsterdam','Amsterdam, Noord-Holland, NL','Amsterdam West','Amsterdão', 'Amsterdam ','Amsterdam Zuidoost','Nederland','nan'], 'Amsterdam', inplace=True)

In [54]:
df_list_details['city'].value_counts()

city
Amsterdam                  19980
Badhoevedorp                   9
Diemen                         8
Amstelveen                     7
Watergraafsmeer                6
Duivendrecht                   6
Halfweg                        3
Amsterdam (Zunderdorp)         3
Zeeburg                        2
Haarlem                        1
Lijnden                        1
Weesp                          1
Buitenveldert                  1
Ouderkerk aan de Amstel        1
Zaandam                        1
Name: count, dtype: int64

In [55]:
#replaced names of neighbourhoods and streets in Amsterdam, as well as different spellings of the city name, with Amsterdam.
#replaced country name (Nederland) and entries with nan with Amsterdam.
#The remaining names are those of surrounding municipalities outside Amsterdam, so left them as is.

In [56]:
df_list_details['state'].value_counts()

state
Noord-Holland                      15579
North Holland                       2951
NH                                  1278
nan                                  127
Netherlands                           15
Noord Holland                         15
Badhoevedorp                           7
Amsterdam                              7
XH                                     2
Bilderdijkstraat                       2
NL                                     2
SN                                     1
Pieter Calandlaan                      1
JT                                     1
Nassaukade                             1
VX                                     1
BE                                     1
RJ                                     1
LN                                     1
DP                                     1
CE                                     1
NB                                     1
TL                                     1
KX                                     1
nh                                     1
Albert Cuypstraat 100-3A               1
WD                                     1
Lanseloetstraat 3                      1
Europe                                 1
Nord Holland                           1
Wibautstraat                           1
North-Holland                          1
Overtoom                               1
Zuiderzeeweg                           1
Zeedijk                                1
NM                                     1
Nh                                     1
Noordholland                           1
Emmy andriessestraat                   1
Holland                                1
SX                                     1
North                                  1
MK                                     1
Fritz Dietrich Kahlenbergstraat        1
AH                                     1
GA                                     1
Borgerstraat                           1
BW                                     1
Blancefloorstraat                      1
GD                                     1
Amstel                                 1
Noord-Holland,1074 ES                  1
GE                                     1
Modern                                 1
boord Holland                          1
GJ                                     1
Name: count, dtype: int64

In [57]:
df_list_details['state'].replace(['North Holland','NH','Netherlands','Noord Holland','Badhoevedorp','Amsterdam','Bilderdijkstraat','Pieter Calandlaan','Nassaukade','nh','Albert Cuypstraat 100-3A','Lanseloetstraat 3','Europe','Nord Holland','Wibautstraat','North-Holland','Overtoom','Zuiderzeeweg','Zeedijk','Nh','Noordholland','Emmy andriessestraat','Holland','North','Fritz Dietrich Kahlenbergstraat','Borgerstraat','Blancefloorstraat','Noord-Holland,1074 ES','boord Holland','Amstel','Modern','nan'], 'Noord-Holland', inplace=True)

In [58]:
df_list_details['state'].value_counts()

state
Noord-Holland    20005
XH                   2
NL                   2
KX                   1
NB                   1
TL                   1
CE                   1
DP                   1
LN                   1
RJ                   1
BE                   1
VX                   1
JT                   1
GJ                   1
SN                   1
GE                   1
GD                   1
BW                   1
GA                   1
AH                   1
MK                   1
SX                   1
NM                   1
WD                   1
Name: count, dtype: int64

In [59]:
#corrected different spellings of the state name Noord-Holland. 
#replaced city, street and neighbourhood names with Noord-Holland, as well as entries with 'nan'. 
#left the two-character abbreviations, as I was not sure what those were.

In [60]:
df_list_details['country'].value_counts()
#no changes needed for this column

country
Netherlands    20030
Name: count, dtype: int64

In [61]:
df_list_details['neighbourhood'].value_counts()
#no changes needed for this column

neighbourhood
De Baarsjes - Oud-West                    3515
De Pijp - Rivierenbuurt                   2493
Centrum-West                              2326
Centrum-Oost                              1730
Westerpark                                1490
Zuid                                      1441
Oud-Oost                                  1282
Bos en Lommer                             1145
Oostelijk Havengebied - Indische Buurt     959
Oud-Noord                                  571
Watergraafsmeer                            552
IJburg - Zeeburgereiland                   452
Slotervaart                                393
Noord-West                                 320
Buitenveldert - Zuidas                     262
Noord-Oost                                 257
Geuzenveld - Slotermeer                    212
Osdorp                                     159
De Aker - Nieuw Sloten                     142
Gaasperdam - Driemond                      122
Bijlmer-Centrum                            111
Bijlmer-Oost                                96
Name: count, dtype: int64

#### Addressing and cleaning outliers

In [63]:
df_list_details['host_listings_count'].value_counts()

host_listings_count
1      15830
2       2208
3        522
208      208
4        200
5        185
6        144
105      105
83        83
7         63
8         48
21        42
38        38
19        38
9         36
12        36
11        33
10        30
30        30
27        27
25        25
24        24
17        17
16        16
15        15
14        14
13        13
Name: count, dtype: int64

In [64]:
df_list_details[['id', 'host_id','host_name','host_listings_count']].loc[df_list_details['host_listings_count']>20].duplicated().sum()

0

In [65]:
#None of the hosts with large numbers of listings have duplicate rows. This means that there are indeed hosts with large numbers of unique listings.

In [66]:
df_list_details[['host_id',]].loc[df_list_details['host_listings_count']>20].value_counts()

host_id
65859990     208
1464510      105
76104209      83
113977564     38
517215        30
107745142     27
14183886      25
11969034      24
7594884       21
44168250      21
Name: count, dtype: int64

#### Price outliers

In [68]:
df_list_details['price'].describe()
#we see values of both 0 and 8500. these will need to be looked at and, if needed, corrected.

count    20030.000000
mean       152.181178
std        145.828976
min          0.000000
25%         96.000000
50%        125.000000
75%        175.000000
max       8500.000000
Name: price, dtype: float64

In [69]:
#check the entry or entries with this price in order to get more information about this listing
df_list_details[['id','name','description','square_feet','price','neighbourhood']].loc[df_list_details['price']==8500]

,id,name,description,square_feet,price,neighbourhood
7234,12213707,Comfy double room right to city center,x The 2 room appartment comes with a small bal...,NaN,8500.0,Oud-Oost

In [70]:
#convert this price value to NaN for now
df_list_details.loc[df_list_details['price']==8500, 'price'] = np.nan

In [71]:
df_list_details['price'].describe()

count    20029.000000
mean       151.764392
std        133.369958
min          0.000000
25%         96.000000
50%        125.000000
75%        175.000000
max       8000.000000
Name: price, dtype: float64

In [72]:
#there appear to be more price outliers
df_list_details[['price']].loc[df_list_details['price']>1000].value_counts()

price
2500.0    2
1025.0    1
1050.0    1
5040.0    1
5000.0    1
4500.0    1
3900.0    1
3142.0    1
3000.0    1
2200.0    1
2000.0    1
1600.0    1
1500.0    1
1254.0    1
1250.0    1
1230.0    1
1200.0    1
1190.0    1
1119.0    1
1100.0    1
1095.0    1
8000.0    1
Name: count, dtype: int64

In [73]:
#we can look at the listings over 2500 to see more information about them, 
#such as if they are particularly large in size or number of rooms, or if the price is actually the weekly or monthly price.
df_list_details[['price','name','square_feet','property_type','bedrooms','bathrooms','weekly_price','monthly_price']].loc[df_list_details['price']>2500]

,price,name,square_feet,property_type,bedrooms,bathrooms,weekly_price,monthly_price
127,8000.0,Great CENTRAL apartment De Pijp,NaN,Apartment,1.0,1.0,NaN,NaN
3321,4500.0,Crane Hotel Faralda Amsterdam,NaN,Other,3.0,3.0,NaN,NaN
10008,3142.0,One public bedroom,NaN,Bed and breakfast,1.0,1.0,NaN,NaN
13009,5000.0,diervriendelijk appartementje aan rand Amsterdam,NaN,Apartment,1.0,1.0,NaN,NaN
16959,3900.0,Long-term (expat) luxury appt: 3-bedr ++LOCATION,NaN,Apartment,3.0,1.5,NaN,NaN
18721,3000.0,No available,NaN,Apartment,1.0,1.0,NaN,NaN
19486,5040.0,Lovely place,NaN,Apartment,0.0,1.0,NaN,NaN

In [74]:
#we can convert the price of 8000 to NaN as well
df_list_details.loc[df_list_details['price']==8000, 'price'] = np.nan

In [75]:
#replacing prices of 0 with NaN
df_list_details.loc[df_list_details['price']==0, 'price'] = np.nan

In [76]:
df_list_details['price'].describe()

count    20026.000000
mean       151.387646
std        121.292510
min          8.000000
25%         96.000000
50%        125.000000
75%        175.000000
max       5040.000000
Name: price, dtype: float64

#### Addressing other outliers

In [78]:
df_list_details.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,20030.0,1.001450e+04,5.782307e+03,0.000000,5.007250e+03,1.001450e+04,1.502175e+04,2.002900e+04
id,20030.0,1.541725e+07,8.569404e+06,2818.000000,8.188423e+06,1.563049e+07,2.202577e+07,3.058041e+07
host_id,20030.0,4.868570e+07,5.649635e+07,3159.000000,8.093516e+06,2.369450e+07,6.827535e+07,2.293612e+08
host_response_rate,10547.0,9.375595e+01,1.703486e+01,0.000000,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02
latitude,20030.0,5.236521e+01,1.599599e-02,52.288378,5.235513e+01,5.236459e+01,5.237507e+01,5.242471e+01
longitude,20030.0,4.888977e+00,3.557343e-02,4.753247,4.863595e+00,4.886387e+00,4.908288e+00,5.027689e+00
accommodates,20030.0,2.891912e+00,1.318760e+00,1.000000,2.000000e+00,2.000000e+00,4.000000e+00,1.700000e+01
bathrooms,20020.0,1.137662e+00,7.939026e-01,0.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.005000e+02
bedrooms,20022.0,1.445060e+00,8.856803e-01,0.000000,1.000000e+00,1.000000e+00,2.000000e+00,1.200000e+01
beds,20023.0,1.849223e+00,1.389664e+00,0.000000,1.000000e+00,1.000000e+00,2.000000e+00,3.200000e+01
square_feet,406.0,5.204852e+02,5.445577e+02,0.000000,0.000000e+00,4.840000e+02,8.070000e+02,4.306000e+03
price,20026.0,1.513876e+02,1.212925e+02,8.000000,9.600000e+01,1.250000e+02,1.750000e+02,5.040000e+03
weekly_price,2843.0,8.210549e+02,4.588445e+02,100.000000,5.500000e+02,7.000000e+02,9.500000e+02,6.000000e+03
monthly_price,1561.0,2.594989e+03,1.527439e+03,550.000000,1.650000e+03,2.200000e+03,3.000000e+03,2.000000e+04
security_deposit,13864.0,2.218756e+02,3.402108e+02,0.000000,0.000000e+00,1.500000e+02,2.950000e+02,4.736000e+03
cleaning_fee,16401.0,3.927157e+01,2.426840e+01,0.000000,2.500000e+01,3.500000e+01,5.000000e+01,5.310000e+02
guests_included,20030.0,1.468997e+00,9.378896e-01,1.000000,1.000000e+00,1.000000e+00,2.000000e+00,1.600000e+01
extra_people,20030.0,1.131588e+01,2.215206e+01,0.000000,0.000000e+00,0.000000e+00,2.000000e+01,2.800000e+02
minimum_nights,20030.0,3.328707e+00,1.253742e+01,1.000000,2.000000e+00,2.000000e+00,3.000000e+00,1.001000e+03
maximum_nights,20030.0,6.312257e+02,5.413400e+02,1.000000,2.100000e+01,1.125000e+03,1.125000e+03,9.999000e+03
availability_365,20030.0,5.991368e+01,1.040277e+02,0.000000,0.000000e+00,3.000000e+00,6.700000e+01,3.650000e+02
number_of_reviews,20030.0,2.156046e+01,4.324029e+01,0.000000,3.000000e+00,8.000000e+00,2.200000e+01,6.950000e+02
review_scores_rating,17391.0,9.484952e+01,6.648685e+00,20.000000,9.300000e+01,9.700000e+01,1.000000e+02,1.000000e+02
review_scores_accuracy,17381.0,9.679765e+00,6.852705e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_cleanliness,17383.0,9.465627e+00,8.679734e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_checkin,17369.0,9.735563e+00,6.465567e-01,2.000000,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_communication,17378.0,9.785361e+00,5.994087e-01,2.000000,1.000000e+01,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_location,17370.0,9.421531e+00,7.279310e-01,2.000000,9.000000e+00,1.000000e+01,1.000000e+01,1.000000e+01
review_scores_value,17371.0,9.175004e+00,8.054216e-01,2.000000,9.000000e+00,9.000000e+00,1.000000e+01,1.000000e+01
host_listings_count,20030.0,4.734698e+00,2.292189e+01,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,2.080000e+02
reviews_per_month,20030.0,9.345032e-01,1.297465e+00,0.000000,1.700000e-01,5.100000e-01,1.090000e+00,1.185000e+01

In [79]:
#bedrooms and bathrooms
df_list_details[['id','name','property_type','room_type','bedrooms','beds','bathrooms']].loc[df_list_details['bedrooms']==0]

,id,name,property_type,room_type,bedrooms,beds,bathrooms
136,271599,No.2,House,Private room,0.0,1.0,1.0
148,289071,"Romantic houseboat in Jordaan, private room.",Bed and breakfast,Private room,0.0,1.0,1.0
154,294226,No.1,House,Private room,0.0,1.0,NaN
170,311124,*historic centre* *bright* *canal view* *jordaan*,Apartment,Entire home/apt,0.0,1.0,1.0
179,325165,Studio in the centre of Amsterdam,Apartment,Entire home/apt,0.0,1.0,1.0
...,...,...,...,...,...,...,...
20009,30551479,Amsterdam Apartment in City Centre,Apartment,Entire home/apt,0.0,1.0,1.0
20013,30553840,"Large, sophisticated studio for 2 pers close t...",Aparthotel,Entire home/apt,0.0,1.0,1.0
20015,30554026,Sophisticated and bright rooftop studio for 2 ...,Aparthotel,Entire home/apt,0.0,1.0,1.0
20017,30556632,Quiet and spacious loft apartment right in centre,Loft,Entire home/apt,0.0,1.0,1.0
20024,30573892,Clean and perfect location,Apartment,Entire home/apt,0.0,2.0,1.0

In [80]:
#listings with 0 bedrooms appear to be studio apartments or single rooms.
#listings wtih a large number of bedrooms appear to be entire hotels. leaving them as is.
df_list_details[['bedrooms','bathrooms','name','property_type']].loc[df_list_details['bathrooms']>100]

      bedrooms  bathrooms                  name property_type
9739       1.0      100.5  BEAUTIFUL apartement     Apartment

In [81]:
#this can be replaced with NaN
df_list_details.loc[df_list_details['bathrooms']==100.5, 'bathrooms'] = np.nan

In [82]:
df_list_details['bathrooms'].describe()

count    20019.000000
mean         1.132699
std          0.370254
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         15.000000
Name: bathrooms, dtype: float64

#### Drop more unnecessary/irrelevant columns

In [84]:
df_list_details.columns

Index(['Unnamed: 0', 'id', 'listing_url', 'name', 'summary', 'space',
       'description', 'experiences_offered', 'neighbourhood_overview', 'notes',
       'transit', 'access', 'interaction', 'house_rules', 'picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_is_superhost', 'host_neighbourhood', 'host_verifications',
       'host_identity_verified', 'street', 'neighbourhood', 'city', 'state',
       'zipcode', 'country', 'latitude', 'longitude', 'is_location_exact',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee', 'guests_included',
       'extra_people', 'minimum_nights', 'maximum_nights', 'calendar_updated',
       'has_availability', 'availability_365', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'host_listings_count', 'reviews_per_month'],
      dtype='object')

In [85]:
df_list_details.drop(columns=['Unnamed: 0','host_verifications','security_deposit','cleaning_fee','extra_people','calendar_updated','cancellation_policy'],inplace=True)

#### Export updated file

In [87]:
df_list_details.to_csv(os.path.join(path,'listings_details_checked_again.csv'))